div id="answer-#{answer.id}"
  p=answer.body
  =(link_to 'Delete my answer', answer_path(answer), method: 'delete', class:'btn btn-xs btn-default', remote: true) if (user_signed_in? and (current_user.id == answer.user_id))
  hr