= form_for comment do |f|
  =f.text_field :commentable_id, value: commentable.id, hidden: true
  =f.text_field :commentable_type, value: commentable.class, hidden: true
  .form-group
    =f.label :body, 'Comment'
    =f.text_area :body, class:'form-control', rows: '2'
  .form-group
    =f.submit 'Save', class:'btn btn-sm btn-primary'