// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.best-answer-label {
  color: #fff;
  padding: 4px;
  margin-left: 0px;
  border-radius: 2px;
}


.question-attachments .nested-fields:first-child{
  background-color: #B00100;
}
.question-attachments .nested-fields:nth-child(2){
  background-color: #2E2F30;
}