// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.best-answer-label {
  color: #fff;
  padding: 4px 8px 4px 8px;
  margin-left: 0px;
  border-radius: 10px;
}

.butt {
  margin-left: 5px;
}

.rating-sum {
  float: left;
}